<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
<div class="login-container">
    <h2>Đăng nhập</h2>
    <form id="loginForm">
        <input type="text" id="username" placeholder="Tài khoản" required>
        <input type="password" id="password" placeholder="Mật khẩu" required>
        <button type="submit">Đăng nhập</button>
    </form>

    <hr>

    <a href="https://login-1bfe.onrender.com/auth/google">
        <button class="google-btn">Đăng nhập với Google</button>
    </a>
</div>

<script src="assets/script.js"></script>
</body>
</html>